# deploy/gateway/kong.yml
_format_version: "3.0"
_transform: true

services:
  - name: orders-read
    url: http://orders-read:3001
    routes:
      - name: read
        paths: ["/orders"]
        methods: ["GET"]
        strip_path: false
    plugins:
      - name: key-auth
      - name: rate-limiting
        config:
          minute: 30
          policy: local

  - name: orders-write
    url: http://orders-write:3000
    routes:
      - name: write
        paths: ["/orders"]
        methods: ["POST"]
        strip_path: false
    plugins:
      - name: key-auth
      - name: rate-limiting
        config:
          minute: 60
          policy: local

  - name: gateway-health
    url: http://orders-read:3001
    routes:
      - name: health
        paths: ["/health"]
        methods: ["GET"]
        strip_path: false

consumers:
  - username: demo
    keyauth_credentials:
      - key: demo
